<!DOCTYPE html>
<html>
<title>MODSI Login</title>
<div class="container">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div class="tile">
                <div class="login show">
                    <img src="http://gdurl.com/3fIH" class="logo">
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" required>
                        </div><!-- group -->
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" required>
                        </div><!-- group -->
                        <button type="submit" class="btn btn-info btn-block">Login</button>
                    </form>
                </div><!-- login -->
                <div class="signup">
                    <img src="http://gdurl.com/vAuS" class="logo">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name" required>
                        </div><!-- group -->
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" required>
                        </div><!-- group -->
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" required>
                        </div><!-- group -->
                        <button type="submit" class="btn btn-warning btn-block signup-btn"><span>Sign up</span></button>
                        <div class="text-center"><a href="#">Forgot password?</a></div>
                    </form>
                </div><!-- signup -->
                <span class="btn btn-warning btn-signup">Signup</span>
                <span class="btn btn-info btn-login hidden">Login</span>
            </div><!-- tile -->
        </div><!-- col-6 -->
    </div><!-- row -->
</div><!-- container -->

</html>